pre {
    /* white-space: pre-line; */
}

.badge {
    border-radius: 0;
}

a {
    text-decoration: underline;
}

footer {
    background: linear-gradient(
        to left,
        transparent,
        rgba(211, 211, 211, 0.774),
        transparent
    );
}

img {
    width: 30px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.h-400 {
    max-height: 400px;
    overflow-y: auto;
}
