.nav-item.active a {
    border-radius: 50px;
    background-color: #fff;
    color: #000 !important;
}

.nav-item {
    margin-right: 5px;
    margin-left: 5px;
}

.nav-item a {
    padding: 5px 10px !important;
}

main {
    min-height: 75vh;
}

.text-ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gap-15 {
    row-gap: 15px;
}

.font-sm {
    font-size: 0.8rem !important;
}

.font-md {
    font-size: 0.9rem !important;
}

.pre {
    white-space: pre;
}

.login-btn i,
.login-btn svg {
    font-size: 1.2rem;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.overflow-hidden {
    overflow: hidden;
}

/* Sweet_Alert_2 */
.swal2-icon {
    font-size: 12px;
}

.swal2-title {
    font-size: 0.9rem !important;
}

.swal2-content,
.swal2-html-container {
    font-size: 0.85rem !important;
    direction: rtl !important;
    text-align: center !important;
}

.swal2-content * {
    direction: rtl !important;
    text-align: center !important;
}

.swal2-actions button {
    font-size: 0.7rem !important;
}

.swal2-popup {
    width: 25em !important;
    max-width: 100% !important;
}

.form-control {
    font-size: 0.8rem;
    height: unset;
}

input[type="file"] {
    height: 33px;
    position: relative;
}

input[type="file"]::before {
    content: "عکس یا لوگو را بارگذاری کنید";
    color: #495057;
    height: 33px;
    width: 100%;
    display: flex;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    padding: 0.375rem 0.75rem;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}