.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.admin-btnS {
    gap: 7px;
}

.admin-btnS button {
    flex-grow: 1;
}

.price {
    font-weight: 900;
}

.font-weight-900 {
    font-weight: 900;
}

input::placeholder, textarea::placeholder {
    font-size: 0.8rem;
}

button[type="submit"], label {
    font-size: 0.9rem;
}

textarea {
    min-height: 150px;
}