.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}